<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css" required> 
    <title>Document</title>
</head>
<body>
    <h1>Личный дневник</h1>
  <div class="link_tasks">
    <a href="/add">Добавить задачу</a>
  </div>
  <ul>
    {% for task in tasks %}
        <li>
            <p>{{ task.title }}</p>
            <a href="/detail/{{ loop.index0 }}">Подробнее</a>
            <a href="/edit/{{ loop.index0 }}"> Редактировать</a>
            <a href="/delete/{{ loop.index0 }}"> Удалить</a>
        </li>
    {% endfor %}
</ul>
</body>
</html>